#projects-sec {
  padding: 0;
  padding-left: var(--gap-md);
}

.pro-catalog {
  margin: var(--def-size-lg) 0;
}

.pro-listing-box {
  /* height: 12rem; */
  margin-bottom: var(--def-size-sm);
  display: flex;
  /* gap: var(--gap-md); */
  overflow-x: auto;
}

.project-info {
  /* background-color: red; */
  display: flex;
  gap: var(--gap-sm);
  align-items: center;
}

.visual-info {
  /* width: 20%; */
  /* height: 100%; */
  height: 5rem;
  aspect-ratio: 1;
  /* background-color: yellow; */
}

.visual-info img {
  width: 100%;
  height: auto;
}

.project-card {
  width: 25rem;
  height: 100%;
  margin-right: var(--gap-md);
  flex-shrink: 0;
}

.pro-card-name {
  margin-top: var(--def-size-sm);
  font-weight: var(--font-bold-md);
  font-size: var(--txt-size-md);
}

.pro-card-desc {
  max-height: 70%;
  margin-bottom: var(--def-size-sm);
  overflow-y: auto;
  color: var(--txt-color-secondary);
  font-size: var(--txt-size-sm);
}

.pro-card-btns {
  display: flex;
  gap: 0.7rem;
}

.pro-card-btns .icon {
  height: var(--txt-size-md);
  margin-right: 0.3rem;
}

.intro-cover {
  border-left: 0.4rem solid var(--primary-color);
  padding-left: var(--gap-xsm);
}
